._list-link:after,
._page a[href^="http:"]:after,
._page a[href^="https:"]:after,
._search:before,
._search-clear:before,
._notif-close:before,
._list-item:before,
._list-arrow:before,
._sidebar-footer-link:before,
._docs-name:before,
._pre-clip:before,
._path-item:first-child:before,
._path-item + ._path-item:after,
._home-link:before,
._menu-link:before {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	background-image: url(./icons.png);
	background-size: 10rem 10rem;
}

._list-item {
	display: block;
	position: relative;
	overflow: hidden;
	padding: .25rem .75rem;
	line-height: 1.5rem;
	font-size: .875rem;
	white-space: nowrap;
	word-wrap: normal;
	overflow-wrap: normal;
	text-overflow: ellipsis;
	cursor: default;
	background: #f9f9f9;
	box-shadow: inset -1px 0 #e3e3e3;
}

._list-item,
._list-item:hover {
	color: inherit;
	text-decoration: none;
}

._list-item.focus,
._list-item.focus:hover,
._list-item.active,
._list-item.active:hover {
	color: #000;
	background: #e5e5e5;
	box-shadow: inset -1px 0 #d4d4d4;
}

._list-item.active,
._list-item.active:hover {
	color: #fff;
	background: #398df0;
	box-shadow: inset -1px 0 #196fc2;
}

._list-item:before {
	float: left;
	margin: .25rem .625rem 0 0;
}

._list-count,
._list-enable {
	float: right;
	font-size: .75rem;
}

.focus > ._list-count,
.active > ._list-count,
.focus > ._list-enable,
.active > ._list-enable {
	color: inherit;
}

._list-count {
	color: #999;
	pointer-events: none;
}

._list-disabled:hover > ._list-count {
	display: none;
}

._list-enable {
	display: none;
	color: #0082c6;
	cursor: pointer;
}

._list-enable:hover {
	text-decoration: underline;
}

._list-disabled:hover > ._list-enable {
	display: block;
}

._list-dir,
._list-disabled,
._list-label {
	padding-left: 2.25rem;
}

._list-disabled,
._list-disabled:hover {
	color: #666;
}

._list-disabled:before {
	opacity: .7;
}

._list-arrow {
	position: absolute;
	top: 0;
	left: .25rem;
	padding: .5rem;
	cursor: pointer;
	opacity: .4;
}

._list-arrow:hover {
	opacity: .65;
}

.open > ._list-arrow:before,
.open-title > ._list-arrow:before {
	-webkit-transform: rotate(90);
	transform: rotate(90);
}

._list-sub > ._list-item {
	padding-left: 2.75rem;
}

._list-sub > ._list-item:before {
	content: none;
}

._list-sub > ._list-dir {
	line-height: 1.375rem;
}

._list-sub ._list-arrow {
	left: 1rem;
	padding: .4375rem;
}

._list-pagelink {
	color: #0082c6;
	cursor: pointer;
}

._list-pagelink:hover {
	color: #0072c5;
	text-decoration: underline;
}

._list-result.active {
	padding-right: 1.75rem;
}

._list-result.active > ._list-reveal {
	display: block;
}

._list-reveal {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 1.75rem;
	cursor: pointer;
}

._list-reveal:before {
	content: '';
	position: absolute;
	bottom: 50%;
	left: .5rem;
	width: .75rem;
	height: 1px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 -3px rgba(255, 255, 255, 0.9), 0 3px rgba(255, 255, 255, 0.9);
}

._list-note {
	padding: .5rem .75rem;
	line-height: 1.25rem;
	font-size: .8125rem;
	color: #666;
}

._list-note + ._list-note {
	padding-top: 0;
}

._list-note-link {
	cursor: pointer;
}

._list-hover.clone {
	position: fixed;
	z-index: 5;
	left: 0;
	overflow: visible;
	min-width: 18rem;
	padding: .25rem .75rem;
	pointer-events: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

@media (max-width: 800px) {
	._list-hover.clone {
		min-width: 16rem;
	}
}

._list-hover.clone:not(._list-result) {
	padding-left: 2.75rem;
}

._list-hover.clone:not(._list-result):before {
	content: none;
}

._list-checkbox {
	position: absolute;
	top: .5rem;
	right: -1rem;
	width: 1rem;
	height: 1rem;
	transition: .2s;
}

._list-label {
	cursor: pointer;
	transition: .2s;
}

._in > ._list-label {
	padding-left: .75rem;
}

._in > ._list-label > ._list-checkbox {
	right: 0.5rem;
}

._list-label-off {
	opacity: 0;
	padding-left: .75rem;
}

._in > ._list-label-off {
	opacity: 1;
}

._list-label-off > ._list-checkbox {
	right: .5rem;
}

._list-link {
	display: block;
	margin-top: .75rem;
	font-size: .8125rem;
	text-align: center;
}

._list-link:after {
	visibility: hidden;
}

._list-link:hover:after {
	visibility: visible;
}

._icon-http:before {
	background-position: -7rem 0;
}

._icon-jquery:before {
	background-position: -8rem 0;
}

._icon-underscore:before {
	background-position: -9rem 0;
}

._icon-html:before {
	background-position: 0 -1rem;
}

._icon-css:before {
	background-position: -1rem -1rem;
}

._icon-dom:before {
	background-position: -2rem -1rem;
}

._icon-dom_events:before {
	background-position: -3rem -1rem;
}

._icon-javascript:before {
	background-position: -4rem -1rem;
}

._icon-backbone:before {
	background-position: -5rem -1rem;
}

._icon-node:before,
._icon-node_lts:before {
	background-position: -6rem -1rem;
}

._icon-sass:before {
	background-position: -7rem -1rem;
}

._icon-less:before {
	background-position: -8rem -1rem;
}

._icon-angular:before {
	background-position: -9rem -1rem;
}

._icon-coffeescript:before {
	background-position: 0 -2rem;
}

._icon-ember:before {
	background-position: -1rem -2rem;
}

._menu-link:before {
	background-position: -2rem -2rem;
}

._home-link:before {
	background-position: -3rem -2rem;
}

._icon-jqueryui:before {
	background-position: -4rem -2rem;
}

._icon-jquerymobile:before {
	background-position: -5rem -2rem;
}

._icon-lodash:before {
	background-position: -6rem -2rem;
}

._icon-php:before {
	background-position: -7rem -2rem;
}

._icon-ruby:before,
._icon-minitest:before {
	background-position: -8rem -2rem;
}

._icon-rails:before {
	background-position: -9rem -2rem;
}

._icon-python:before,
._icon-python2:before {
	background-position: 0 -3rem;
}

._icon-git:before {
	background-position: -1rem -3rem;
}

._icon-redis:before {
	background-position: -2rem -3rem;
}

._icon-postgresql:before {
	background-position: -3rem -3rem;
}

._icon-d3:before {
	background-position: -4rem -3rem;
}

._icon-knockout:before {
	background-position: -5rem -3rem;
}

._icon-moment:before {
	background-position: -6rem -3rem;
}

._icon-c:before {
	background-position: -7rem -3rem;
}

._path-item + ._path-item:after {
	background-position: -8rem -3rem;
}

._icon-yii:before,
._icon-yii1:before {
	background-position: -9rem -3rem;
}

._icon-cpp:before {
	background-position: 0 -4rem;
}

._icon-go:before {
	background-position: -1rem -4rem;
}

._icon-express:before {
	background-position: -2rem -4rem;
}

._icon-grunt:before {
	background-position: -3rem -4rem;
}

._icon-rust:before {
	background-position: -4rem -4rem;
}

._icon-laravel:before {
	background-position: -5rem -4rem;
}

._icon-haskell:before {
	background-position: -6rem -4rem;
}

._icon-requirejs:before {
	background-position: -7rem -4rem;
}

._icon-chai:before {
	background-position: -8rem -4rem;
}

._icon-sinon:before {
	background-position: -9rem -4rem;
}

._icon-cordova:before {
	background-position: 0 -5rem;
}

._icon-markdown:before {
	background-position: -1rem -5rem;
}

._icon-django:before {
	background-position: -2rem -5rem;
}

._icon-xpath:before {
	background-position: -3rem -5rem;
}

._icon-nginx:before {
	background-position: -4rem -5rem;
}

._icon-svg:before {
	background-position: -5rem -5rem;
}

._icon-marionette:before {
	background-position: -6rem -5rem;
}

._icon-mongoose:before {
	background-position: -7rem -5rem;
}

._icon-phpunit:before {
	background-position: -8rem -5rem;
}

._icon-nokogiri:before {
	background-position: -9rem -5rem;
}

._icon-rethinkdb:before {
	background-position: 0 -6rem;
}

._icon-react:before {
	background-position: -1rem -6rem;
}

._icon-socketio:before {
	background-position: -2rem -6rem;
}

._icon-modernizr:before {
	background-position: -3rem -6rem;
}

._icon-bower:before {
	background-position: -4rem -6rem;
}

._sidebar-footer-light:before {
	background-position: 0 -7rem;
}

._icon-iojs:before {
	background-position: -2rem -7rem;
}

._icon-lua:before {
	background-position: -3rem -7rem;
}

._icon-clojure:before {
	background-position: -4rem -7rem;
}

._icon-symfony:before {
	background-position: -5rem -7rem;
}

._icon-mocha:before {
	background-position: -6rem -7rem;
}

._icon-meteor:before {
	background-position: -7rem -7rem;
}

._icon-npm:before {
	background-position: -8rem -7rem;
}

._icon-apache_http_server:before {
	background-position: -9rem -7rem;
}

._icon-drupal:before {
	background-position: 0 -8rem;
}

._icon-webpack:before {
	background-position: -1rem -8rem;
}

._icon-phaser:before {
	background-position: -2rem -8rem;
}

._icon-vue:before {
	background-position: -3rem -8rem;
}

._icon-opentsdb:before {
	background-position: -4rem -8rem;
}

._icon-q:before {
	background-position: -5rem -8rem;
}

._sidebar-footer-layout:before {
	background-position: -6rem -8rem;
}

._max-width ._sidebar-footer-layout:before {
	background-position: -7rem -8rem;
}

._icon-react_native:before {
	background-position: 0 -9rem;
}

._icon-phalcon:before {
	background-position: -1rem -9rem;
}

._pre-clip:before {
	background-position: -2rem -9rem;
}

._icon-elixir:before {
	background-position: -4rem -9rem;
}

._icon-vagrant:before {
	background-position: -5rem -9rem;
}

._icon-dojo:before {
	background-position: -6rem -9rem;
}

._icon-flow:before {
	background-position: -7rem -9rem;
}

._icon-relay:before {
	background-position: -8rem -9rem;
}

._icon-phoenix:before {
	background-position: -9rem -9rem;
}