.contentLayout {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	flex-direction: row;
	width: 100%;
	text-align: left;
	flex: 1;
}

.leftLayout {
	width: 20rem;
	align-items: stretch;
	min-width: 20rem;
	flex-basis: 20rem;
}

.rightLayout {
	flex: 1 1 20rem;
	min-width: 20rem;
	width: 20rem;
	text-align: center;
	align-items: stretch;
}

.rootStyle {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.headerStyle {
	width: 100%;
	height: 4rem;
	min-height: 4rem;
}

.footerStyle {
	width: 100%;
	height: 1rem;
	min-height: 1rem;
}