._content {
	position: relative;
	height: 100%;
	overflow-y: scroll;
	margin-left: .875rem;
	padding: 1.25rem 1.5rem 0;
	text-align: left;
	pointer-events: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-padding-start: .75rem;
	-webkit-padding-end: 1rem;
}

._content:after {
	content: '';
	display: block;
	margin-bottom: 1.25rem;
}

._content-loading:before {
	opacity: 1;
}