.content {
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: stretch;
	background: #f0f0f0;
	border-bottom: 1px solid #d9d9d9;
}

.left {
	flex: 0 0 19.2rem;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: .5rem 0 .5rem 0.25rem;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
}

.homeLink {
	margin-left: 1rem;
	margin-right: 1rem;
	width: 8rem;
	text-align: start;
	color: inherit;
	text-decoration: none;
}

.rightA {
	margin-right: 3px;
}

._search:before,
._search-clear:before {
	content: '';
	display: block;
	width: 1rem;
	height: 1rem;
	background-image: url(../../containers/App/icons.png);
	background-size: 4rem 6rem;
}

._search:before {
	background-position: -1rem 0;
}

._search-clear:before {
	background-position: -3rem 0;
}

._search-clear {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

._search-clear {
	white-space: nowrap;
	overflow: hidden;
	text-indent: 100%;
}

._search:before {
	position: absolute;
	top: 1rem;
	left: 1rem;
	opacity: .4;
}

._search-input {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 .25rem 1px 1.75rem;
	font-size: .875rem;
	background: #fff;
	border: 1px solid;
	border-color: #d4d4d4;
	border-radius: 3px;
}

._search-input:focus {
	outline: 0;
	border-color: #35b5f4;
	box-shadow: 0 0 1px #35b5f4;
}

._search-input[disabled] {
	background: #f9f9f9;
	cursor: not-allowed;
}

._search-clear {
	display: none;
	position: absolute;
	top: .5rem;
	right: 0;
	width: 2rem;
	height: 2rem;
	opacity: .3;
}

._search-clear:hover {
	opacity: .5;
}

._search-clear:before {
	position: absolute;
	top: .5rem;
	left: .5rem;
}