// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  background: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;
  display: block;
}
._search, ._list, ._sidebar-footer {
  width: 260px;
}
._search {
  position: relative;
  float: left;
  width: 18rem;
  height: 100%;
  padding: .5rem 0 .5rem .5rem;
}
input, button, ._app, ._search, ._notif, ._list, ._list-hover.clone, ._sidebar-footer-link, ._container, ._content, ._fail, ._coffeescript>.code>pre, ._socketio .ezcol-one-half {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  display: block;
  margin-top: 0em;
}
button, input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
._search-input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 .75rem 1px 1.75rem;
  font-size: .875rem;
  background: #fff;
  border: 1px solid;
  border-color: #d4d4d4;
  border-radius: 3px;
}
input, button {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  color: #333;
  line-height: normal;
}
._search-active>._search-clear {
  display: block;
}
._search-clear {
  display: none;
  position: absolute;
  top: .5em;
  right: 0;
  width: 2rem;
  height: 2rem;
  opacity: .3;
}
._search-clear, ._notif-close, ._sidebar-footer-light, ._sidebar-footer-layout, ._mobile-btn {
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
}
._search-clear, ._notif-close, ._sidebar-footer-light, ._sidebar-footer-layout, ._mobile-btn, ._header, ._notif, ._sidebar, ._splash-title, ._rdoc a.method-click-advice {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
._search:before {
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: .4;
}

._search:before {
  background-position: -1rem 0;
}
._list-link:after, ._page a[href^="http:"]:after, ._page a[href^="https:"]:after, ._search:before, ._search-clear:before, ._notif-close:before, ._list-arrow:before, ._sidebar-footer-link:before, ._pre-clip:before, ._path-item+._path-item:after, ._mobile-btn:before {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url(//cdn.devdocs.io/assets/icons-fcb32b5ce6fb6ec8c8a77052b3172a08e32b3a7c500dae979f07d6019c50d661.png);
  background-size: 4rem 6rem;
}
._logo {
  position: relative;
  float: left;
  height: 3rem;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
  cursor: default;
}
._nav {
  float: right;
  margin-right: .5rem;
  font-size: .875rem;
  color: #333;
}

._sidebar {
  position: absolute;
  z-index: 2;
  top: 3rem;
  bottom: 0;
  left: 0;
  margin-top: 1px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f9f9f9;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
._sidebar>._list {
  min-height: 100%;
  padding-bottom: 3.5rem;
}
._search, ._list, ._sidebar-footer {
  width: 260px;
}
._list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 18rem;
  box-shadow: inset -1px 0 #e3e3e3;
}
section, main {
  outline: 0;
}
._content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  margin-left: .875rem;
  padding: 1.25rem 1.5rem 0;
  font-size: .875rem;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-padding-start: .75rem;
  -webkit-padding-end: 1rem;
}
main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
