<header class="_header" role="banner">
    <form class="_search _search-active" role="search">
        <input type="search" class="_search-input" placeholder="Search…" autocomplete="off" autocapitalize="off"
               autocorrect="off" spellcheck="false" maxlength="30" aria-label="Search">
        <div class="_search-tag"></div>
    </form>
    <h1 class="_logo">
        <a [routerLink]="['Home']" title="Offline API Documentation Browser">DevDocs</a>
    </h1>
    <nav class="_nav" role="navigation">
        <a href="/offline" class="_nav-link">Offline</a>
        <a [routerLink]="['about']">About</a>
        <a href="/news" class="_nav-link">News</a>
        <a href="/help" class="_nav-link">Tips</a>
    </nav>
</header>
<section class="_sidebar" tabindex="-1">
    <div role="navigation" class="_list">
    </div>
</section>
<main class="_content" role="main" tabindex="1">
    <router-outlet></router-outlet>
</main>
