// styles in src/style directory are applied to the whole page
body {
    height: 100%;
    margin: 0;
    overflow: auto;
    font: normal 1em/1.7 "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    word-wrap: break-word;
}
a {
    color: #03A9F4;
}
